
.mobile, .mobile #engineConfiguration {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.mobile .col-md-3 {
  width: 0;
}
.mobile .col-md-6 {
  width: 100%;
}

.mobile .container-fluid {
  margin-top: 95px;
}

.leftSide, .rightSide {
  margin-bottom: 4px;
}

.mobile video,
.mobile #AVplayer0,
.mobile .loaded,
.mobile #av-container,
.mobile .avp-p-gui,
.mobile #avntsPlayer0Container,
.mobile #avantisContainer0 {
  width: 338px!important;
  height: 190px!important;
}

.mobile #avantisContainer0 > .avntsFloating {
  right: unset;
  transform: scale(0.7);
}
