.mobile {
  background-color: #f2f2f2;
}

.mobile .page-body {
  max-width: 375px;
  margin: 62px auto 0;
  padding-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
.mobile .col-md-3 {
  width: 0;
}
.mobile .col-md-6 {
  width: 100%;
}

.mobile.container-fluid {
  margin-top: 62px;
}

.leftSide, .rightSide {
  margin-bottom: 4px;
}

.mobile video,
.mobile #AVplayer0,
.mobile .loaded,
.mobile #av-container,
.mobile .avp-p-gui,
.mobile #avntsPlayer0Container,
.mobile #avantisContainer0 {
  width: 338px!important;
  height: 190px!important;
}

.mobile #avantisContainer0 > .avntsFloating {
  right: unset;
  transform: scale(0.7);
}
